# server URL for development (localhost)
VITE_API_URL=http://localhost:3000/api/

# microsite URL for development (localhost)
VITE_PROD_URL=http://localhost:5000

# microsite URL for production view (Render)
# VITE_PROD_URL=https://shoplocal.whyleavetown.com
