# -------------- Server port
PORT=3000

# -------------- Database connection string (Found in Render dashboard)
DATABASE_URL=

# -------------- Database connection string (Found in Render dashboard)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# -------------- Auth (Random String)
JWT_SECRET=
JWT_EXPIRATION=